---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="404 - Not Found"
  description="404 Error — this page was not found"
  footer={false}
>
  <div class="mt-32 flex flex-col items-center justify-center px-8">
    <p class="text-muted-foreground text-sm">404</p>
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      Page not found
    </h1>
    <p class="mb-4 leading-7 not-first:mt-6">
      Desculpa, não foi possivel achar a pagina que você esta procurando
    </p>
    <a href="/" rel="noreferrer" class={buttonVariants()}>
      Voltar para pagina principal</a
    >
  </div>
</MainLayout>
