---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type ProjectEntry = CollectionEntry<"projects">;
const allProjects = await getCollection("projects");
import ProjectCard from "@/components/ui/ProjectCard";
allProjects.map((project) => console.log(project.data.image));
---

<MainLayout>
  <section class="mx-auto flex flex-col justify-center items-center gap-10">
    {
      allProjects.map((project: ProjectEntry) => (
        <ProjectCard project={project} />
      ))
    }
  </section>
</MainLayout>
