---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type ProjectEntry = CollectionEntry<"projects">;
const allProjects = await getCollection("projects");
let refresh = false;
if (!allProjects.length) {
  refresh = true;
}
import ProjectCard from "@/components/ui/ProjectCard";
---

<MainLayout>
  <section
    class="mx-auto flex flex-col justify-center items-center gap-10 w-[90%] md:w-[80%] mx-auto"
  >
    {
      allProjects.map((project: ProjectEntry) => (
        <ProjectCard project={project} />
      ))
    }
  </section>
  {refresh ? <meta http-equiv="refresh" content="0;url=/404" /> : null}
</MainLayout>
