---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

const { title, description, footerShowgoToTop } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <header
      class="sticky top-0 left-0 right-0 w-full z-50 bg-background/95 backdrop-blur supports-backdrop-filter:bg-background/60"
    >
      <Navbar />
    </header>
    <main
      class="bg-background w-full flex flex-col justify-center items-center"
    >
      <slot />
    </main>
    <Footer showGotoTop={footerShowgoToTop} />
  </body>
</html>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
